body {
    background-color: lightgray;
}

.header {
    background-color: darkolivegreen;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

section {
    background-color: white;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
}

a {
    color: darkolivegreen;
}

.button {
    margin: 20px;
    padding: 10px;
    background-color: darkolivegreen;
    color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.button-div {
    text-align: right;
}

.button:hover {
    background-color: green;
}

.footer {
    text-align: center;
    margin: 30px;
}

.github-logo {
    width: 20px;
    height: 20px;
    vertical-align: middle;

}